.Button {
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

/* 크기 */
.Button.large {
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
}
.Button.medium {
  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}
.Button.small {
  height: 1.75rem;
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* 여백 */
.Button + .Button {
  margin-left: 1rem;
}

/* color */
.Button.blue {
  background: var(--blue);
}
.Button.blue:hover {
  background: var(--blue-light);
}
.Button.blue:active {
  background: var(--blue-dark);
}

.Button.gray {
  background: var(--gray);
}
.Button.gray:hover {
  background: var(--gray-light);
}
.Button.gray:active {
  background: var(--gray-dark);
}

.Button.pink {
  background: var(--pink);
}
.Button.pink:hover {
  background: var(--pink-light);
}
.Button.pink:active {
  background: var(--pink-dark);
}

/* outline 버튼 */
.Button.blue.outline {
  color: var(--blue);
  background: none;
  border: 1px solid var(--blue);
}
.Button.blue.outline:hover {
  background: var(--blue);
  color: white;
}
.Button.gray.outline {
  color: var(--gray);
  background: none;
  border: 1px solid var(--gray);
}
.Button.gray.outline:hover {
  background: var(--gray);
  color: white;
}
.Button.pink.outline {
  color: var(--pink);
  background: none;
  border: 1px solid var(--pink);
}
.Button.pink.outline:hover {
  background: var(--pink);
  color: white;
}
