.todo-item {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* 삭제 버튼 */
.todo-item .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee2e6;
    font-size: 24px;
    cursor: pointer;

    display: none;
}
.todo-item .remove.show {
    display: initial;
}
.todo-item .remove:hover {
    color: #ff6b6b;
}

/* 할 일 체크 */
.todo-item .check-circle {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #ced4da;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}
.todo-item .check-circle.done {
    border: 1px solid #38d9a9;
    color: #38d9a9;
}

/* 할 일 텍스트 */
.todo-item .text {
    flex: 1;
    font-size: 21px;
    color: #495057;
}
.todo-item .text.done {
    color: #ced4da;
}
